<div class="container pt-6">
  <%= render "shared/components/subtitle", subtitle: t("administrator.title"), search: false %>

  <div class="row">
    <div class="col-lg-3 mb-4">
      <%= render "admins/components/menu_buttons" %>
    </div>
    <div id="organizations" class="col-lg-9">
        <%= render "admins/components/setting_view", setting_id: "organizations", setting_title: t("administrator.organizations.title"), search: true %>
    </div>
  </div>
</div>
